%h1 Assigned tasks
= progressbar(@tasks.size, @task_results.size, "#{@task_results.size}/#{@tasks.size}")
%br
%ul.nav.nav-tabs
  %li{class: "nav-item"}
    =link_to 'Unfinished', tasks_path, 
      class: "nav-link" + ((not params[:finished]) ? " active" : "")
  %li{class: "nav-item"}
    =link_to 'Finished', tasks_path(finished: true),
      class: "nav-link" + (params[:finished] ? " active" : "")
%table.table
  %thead
    %tr
      %th Task set
      %th Task
      %th Finished
  %tbody
    - @tasks.each do |task|
      - finished = @task_results.include?(task.id)
      - if params[:finished] ? finished : (not finished)
        %tr
          %td=task.task_set.label
          %td=link_to task.render(task.task_set.task_template.title_template), task_path(task)
          %td=@task_results[task.id] and l(@task_results[task.id].updated_at)
