%h1=Settings.title
%p.lead You may easily create questionnaires and ask guests to answer them.
- if not user_signed_in?
  %p.lead
    Please first sign up at
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary btn-lg'

%h2 For invitees
%p
  Please visit
  = link_to 'Tasks', tasks_path, class: 'btn btn-outline-primary btn-sm'
  and complete assigned tasks.

%h2 For inviters
%p
  Please visit
  = link_to 'Templates', task_templates_path, class: 'btn btn-outline-primary btn-sm'
  , upload task sets, and assign them to invitees.
