- if not @errors.nil? and not @errors.empty?
  %div{class: "alert alert-danger", role: "alert"}
    %ul
      - @errors.each do |e|
        %li=e
= simple_form_for :task, { url: task_template_load_path(@task_template), class: "form form-horizontal",
  multipart: true} do |f|
  = f.input :file, as: :file
  = f.submit 'Upload', class: 'btn btn-primary'

