= render partial: 'task_form'
- unless @task_template.tasks.empty?
  - keys = @task_template.tasks.first.yaml_data.keys
  %table.table
    %thead
      %tr
        - keys.each do |k|
          %th= k
    %tbody
    - @task_template.tasks.each do |i|
      %tr
        - keys.each do |k|
          %td= i.yaml_data[k]
- else
  %div{class: "alert alert-danger", role: "alert"}
    No tasks have been uploaded.
