- breadcrumb :assign, @assign

%h1 Assignment

%table{class: 'table table-striped'}
  %thead
    %tr
      %th Title
      %th Created at
      %th Result
  %tbody
    - @tasks.each do |task|
      %tr
        %td=task.render(task.task_set.task_template.title_template)
        %td=@finished_task_results.fetch(task.id, {})[:updated_at]
        %td=truncate(@finished_task_results.fetch(task.id, {})[:submitted_data].to_s)
