%h1 Assigned tasks
- @task_templates.each do |task_template|
  %h2=task_template.label
  %ul
    - task_template.tasks.each do |task|
      %li=link_to task.render(task_template.title_template), assigned_task_path(task)
